**
!Dockerfile
!.dockerignore
!LICENSE
!backend/
!backend/pyproject.toml
!backend/README.md
!backend/app/
!backend/app/**
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/index.html
!frontend/tsconfig*.json
!frontend/vite.config.ts
!frontend/src/
!frontend/src/**
!frontend/public/
!frontend/public/**
!scripts/
!scripts/container/
!scripts/container/**
**/__pycache__
**/*.pyc
